@charset "utf-8";
/**
 * adaptivethemes.com 
 *
 * @file base-rtl.css
 */
#block-user-0 label.overlabel-apply{margin-left:0;margin-right:.375em}
#container,.block{zoom:1}
#content-column{position:relative}
#forum div.indent{margin-right:.5em}
#forum table{clear:both}
#forum tr td.forum{background-position:98% 5px;padding-right:1.67em}
#forum tr td.forum .name{padding-right:.375em}
#node-form .node-col-last .buttons #edit-submit,#node-form .node-col-last .buttons #edit-preview,#node-form .node-col-last .buttons #edit-delete{margin:2px 0 2px 2px}
#node-form .node-col-last,.block-at-admin h2 span{float:left}
#permissions td.permission{padding-left:.5em}
.admin-panel dd,.at-multicolumn-menu .block-content ul li.expanded ul{margin-right:0}
.admin-panel h3{padding:0 .5em 0 0}
.article-unpublished .unpublished,.comment-unpublished .unpublished{margin-left:0;padding-left:0;margin-right:.5em;padding-right:18px}
.at-admin-block-edit-links{float:left;padding:0 0 3px 3px}
.at-horizontal-login #user-login-form li a{padding:0 0 0 .75em}
.at-horizontal-login #user-login-form,.block-at-admin h2,.block-at-admin h2.block-title,.fieldset-block-info{text-align:right}
.at-inline-menu ul.menu li a{padding:0 .5em}
.block ul{padding:0 1.25em 0.25em 0}
.block-at-admin fieldset{margin-right:0.5em}
.block-at-admin legend{margin:0 0 0 -10px}
.grid-1,.grid-2,.grid-3,.grid-4-12,.grid-4-16,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12,.grid-13,.grid-14,.grid-15,.grid-16,#content-column,#sidebar-first,#sidebar-last,.at-horizontal-login .form-item,.at-horizontal-login .form-submit,.at-horizontal-login#user-login-form ul,.at-horizontal-login #user-login-form ul li,.at-horizontal-login label,.at-inline-menu ul.menu li,.at-multicolumn-menu .block-content ul li,#node-form .node-col-first{float:right}
.indented{margin-right:3em}
.local-tasks ul.primary li a:hover{background-color:#F7F7F7;border-color:#DDD}
.local-tasks ul.primary li.active a{background-color:#FFF;border-bottom-color:#FFF}
.show-on-focus a:active,.show-on-focus a:focus{left:0;right:auto}
.show-skip-link{text-align:left}
.sidebar-left .content-inner{margin-left:240px}
.sidebar-right .content-inner{margin-left:240px;margin-right:0}
.tips{margin-right:3em;padding:.1875em 1.5em .1875em .375em}
.two-sidebars .content-inner{margin:0 240px}
.update .info{padding:0 1em 0 0}
blockquote{margin:0 0 1.5em;padding:0 3em 0 0}
div#acquia-agent-no-search{padding-left:1em !important;padding-right:3em !important}
div.block div.block-edit{top:10px;left:15px;right:auto}
div.block-edit-links .edit-links{left:15px;right:auto}
div.messages ul{margin:0 1.25em 0 0}
div.messages,div.warning,div.help,div.status,div.error{padding:.6em 3em .6em 1em}
fieldset legend{padding:0 0 0 1em}
ul ul,ul ol,ol ol,ol ul,.block ul ul,.block ul ol,.block ol ol,.block ol ul,.item-list ul ul,.item-list ul ol,.item-list ol ol,.item-list ol ul,.item-list ul,.item-list ol{margin:0 1.667em 0 0}
ul,ol,dd{margin:0 1.667em 1.5em 0}
ul.primary{padding:0 .3em .2em 0}
ul.primary li a{margin-right:0;margin-left:.08em;padding:0.2em 0.75em 0.25em}
ul.secondary{border-bottom:1px solid #CCC;margin:1em 0 0;padding:0 .3em 1em}
ul.secondary li{border-right:0;list-style:none;padding:0 2em 0 0}

 