/** 
 * adaptivethemes.com 
 *
 * @file base.css
 * Base includes all CSS for layout, master reset and basic admin block styles.
 */
#admin-menu{font:0.9em Arial, Helvetica, sans-serif}
#admin-menu ul li a:focus{color:#000;border:0;background:#FF0}
#article-admin-filter ul{padding:.375em 0}
#container{position:relative;width:100%;margin:0}
#content-column,#forum table,.section-admin table{width:100%}
#content-column,#sidebar-first,#sidebar-last,.at-horizontal-login label{float:left}
#edit-operation-wrapper select{margin:.375em}
#forum div.indent{margin-left:.5em}
#forum tr td.forum{background-position:5px 5px;padding-left:1.67em}
#forum tr td.forum .name{padding-left:.375em}
#main-content,#columns{display:inline-block;width:100%}
#main-content,.block{position:relative}
h3.label,h3.label-inline{font-size:1em;}
.field .inline {display:inline;}
#node-form .vertical-tabs,#node-form .vertical-tabs-list,#node-form .vertical-tabs-list li{border-color:#DADADA !important}
#permissions td.module{background:#EEE;color:#222;font-weight:700}
#permissions td.permission{padding-left:.5em}
#system-themes-form table.sticky-table{position:relative;z-index:10}
#user-login ul{margin:0 0 5px}
#user-login-form .item-list li,.at-center-content ul.menu li,.at-center-content.item-list ul li{list-style:none;margin:0}
#user-login-form li.openid-link,#user-login-form li.user-link{text-align:center}
* html .clearfix{height:1%}
*:first-child+html fieldset{background-color:transparent;background-position:0 .75em;padding:0 1em .75em}
*:first-child+html fieldset > .description,*:first-child+html fieldset .fieldset-wrapper .description{padding-top:1.5em}
*:first-child+html fieldset legend,*:first-child+html fieldset.collapsed legend{display:inline}
.admin .compact-link{margin:0 0 1em}
.admin .compact-link a:hover{background:#F7F7F7;border:1px solid #464646;color:#222}
.admin-panel .body{padding:0 1em}
.admin-panel dd{color:#555;font-size:.94em;margin-left:0}
.admin-panel dl{margin:0;padding:1em 0}
.admin-panel dt,.fieldset-layout-settings label,.fieldset-layout-settings strong,.at-multicolumn-menu .block-content ul.menu li ul.menu li{font-weight:400}
.admin-panel h3{background:#EEE;color:#222;padding:0 0 0 .5em}
.admin-panel p{margin:0;padding:1em 0 0}
.admin-panel ul,.admin-panel ul.menu,.admin-panel .item-list ul{padding:0 0 1em}
.article-unpublished .unpublished,.comment-unpublished .unpublished{background:transparent;color:#FFB900;font-size:.94em;margin-left:.5em;padding-left:.5em;visibility:visible}
.article-unpublished,.comment-unpublished{background-color:#FFF6DF}
.at-admin-block-edit-links{float:right;font-size:0.94em;margin-top:0.5em;padding:0 3px 3px}
.at-align-left-content,.at-align-left-content ul.menu,.at-align-left-content.item-list ul{text-align:left;margin:0}
.at-align-right-content,.at-align-right-content ul.menu,.at-align-right-content.item-list ul{text-align:right;margin:0}
.at-center-content,.at-center-content ul.menu,.at-center-content.item-list ul{text-align:center;margin:0}
.at-horizontal-login #user-login-form li a{padding:0 .75em 0 0}
.at-horizontal-login #user-login-form li.openid-link a,.at-horizontal-login #user-login li.openid-link a{padding:0 20px}
.at-horizontal-login #user-login-form ul{float:left;margin:.94em 0 0}
.at-horizontal-login #user-login-form ul li{float:left;display:inline}
.at-horizontal-login .button-wrapper input{margin:.75em .5em 0}
.at-horizontal-login .form-item,.at-horizontal-login .form-submit{float:left;padding:0 .5em}
.at-horizontal-login h2,.at-inline-menu h2,.at-multicolumn-menu h2{height:0;overflow:hidden;position:absolute;margin:0;padding:0}
.at-horizontal-login label.overlabel-apply{position:absolute;top:1em;margin-left:.375em;float:none}
.at-inline-menu{margin-bottom:.5em}
.at-inline-menu ul.menu li{display:inline;float:left;white-space:nowrap;list-style:none;list-style-image:none;margin:0;padding:0}
.at-inline-menu ul.menu li a{padding:0 .5em}
.at-multicolumn-menu .block-content{overflow:auto}
.at-multicolumn-menu .block-content ul li{display:block;font-weight:700;float:left;width:160px;list-style:none;list-style-image:none;margin:0}
.at-multicolumn-menu .block-content ul li.expanded ul{display:block;margin-left:0;width:160px}
.at-multicolumn-menu .block-content ul li.expanded ul li{border:none;display:block}
.block,#user-menu,#skip-nav,#branding,#search-box,#mission,#primary,#secondary,#attribution,#breadcrumb,#main-content-header,#content,#top-link,#messages-and-help,#footer-message{padding:0 10px}
.block-region{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:#F7F8F8;border:3px dashed #DDD;clear:both;color:#666;font-family:"Lucida Console",Monaco,"DejaVu Sans Mono",monospace;font-size:1.167em;font-weight:400;margin-bottom:12px;margin-top:4px;padding:3px 6px 1px}
.clear,#nav,#columns,#breadcrumb,#content-bottom,#secondary-content,#tertiary-content,#footer,#footer-region,#footer-message,.block,#block-admin-display-form,.fieldset-layout-settings .layout-method,.fieldset-layout-settings .layout-help,.fieldset-layout-settings .page-width{clear:both}
.clearfix,#container > #main-content,#container > #columns,.clearfix{display:block}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.description,.admin-panel ul li{color:#555}
.element-hidden,.at-inline-menu ul li.expanded ul,span.tabledrag-changed{display:none}
.element-invisible,.fieldset-layout-settings span,.hide-label label{height:0;overflow:hidden;position:absolute}
.error a,.notice a,.success a,.at-admin-block-edit-links .edit-links a:hover{text-decoration:underline}
.fieldset-layout-settings .page-width,.fieldset-layout-settings .sidebar-width{float:left;margin-bottom:10px}
.fieldset-layout-settings img{display:block;margin-left:18px}
.form-item .description{font-size:.9em;line-height:1.667em}
.form-item input.error,.form-item textarea.error,.form-item select.error{border:2px solid #C00000}
.form-item strong.error em{font-weight:700;color:#E41F0B;font-size:1.2em}
.form-item textarea.error{padding:.1875em}
.form-text:focus,.form-checkbox:focus,.form-radio:focus,.form-select:focus{border:1px solid #FC0;background:#FFFFDF}
.includes{color:#222}
.item-list ul,.item-list ol{margin:0 0 0 1.667em;padding:0}
.local-tasks{margin-bottom:1em}
.local-tasks ul.primary li a:hover{background-color:#F7F7F7;border-color:#DDD}
.local-tasks ul.primary li.active a{background-color:#FFF;border-bottom-color:#FFF}
.more-help-link{font-size:.94em;line-height:1.667em}
.offscreen{position:absolute;top:-9999em;left:auto;width:1px;height:1px;overflow:hidden}
.page-admin-by-module .admin-panel .body p{color:#555;font-size:.94em}
.show-on-focus a:active,.show-on-focus a:focus{background:#FFF;height:1.5em;overflow:visible;position:fixed;top:0;right:0;width:auto;z-index:1000}
.show-on-focus a:link,.show-on-focus a:hover,.show-on-focus a:visited{height:1px;overflow:hidden;position:absolute;top:-999em}
.show-skip-link{text-align:right}
.tips{font-size:1em;margin-left:3em;padding:.1875em .375em .1875em 1.5em}
.unpublished{visibility:hidden}
.update .info{padding:0 0 0 1em}
.update tr.error{background:#FFEFF3}
.update tr.error .version-recommended{background:#FFEFF4}
.update tr.ok{background:#F1FFCF}
.update tr.warning{background:#FFF6DF}
a img{border:none}
blockquote{margin:0 0 1.5em;padding:0 0 0 3em}
blockquote p,.block ul.pager li,div.form-item div.description img,#user-login ul li,.admin-panel .item-list ul,.page-admin-by-module .admin-panel .body,.fieldset-layout-settings .layouts,.fieldset-layout-settings .page-width .form-item,.fieldset-layout-settings .sidebar-width .form-item,.at-horizontal-login input{margin:0}
blockquote,q{font-style:italic;quotes:"" ""}
blockquote:before,blockquote:after,q:before,q:after{content:""}
body{line-height:1.5}
caption,th,td,.at-horizontal-login #user-login-form,.fieldset-block-info{text-align:left}
dd{margin:0 0 1.5em 1.667em}
del{color:#666}
div#acquia-agent-no-search{margin:8px 0}
div.admin .left,div.admin .right{margin-left:0;margin-right:0;width:49%}
div.admin-panel{border:1px solid #DDD;margin:0 0 .75em;padding:0}
div.block div.block-edit{top:10px;right:15px}
div.error{background:#FFF3F6;border:1px solid #C00000;color:#C00000}
div.form-item{margin-bottom:.833em;margin-top:.833em}
div.help{background:#F7F8F8;border:1px solid #66BEF4;color:#000D2F;margin:1em 0}
div.help p:last-child,div.help ul:last-child{margin-bottom:0}
div.krumo-root{color:#000}
div.messages{font-weight:400;margin:1em 0}
div.messages ul{margin:0 0 0 1.25em}
div.messages,div.warning,div.help,div.status,div.error{padding:.6em 1em}
div.notice{background:#FFF6BF;color:#514721;border-color:#FFD324}
div.ok,tr.ok,table tr.ok td{color:#222;padding:1em .5em}
div.resizable-textarea textarea{margin-top:0}
div.status{background:#F1FFCF;border:1px solid #4DA449;color:#2A6827}
div.warning{background:#FFF6DF;border:1px solid #FFB900;color:#9F3800}
em,dfn{font-style:italic}
fieldset{background:transparent;border:1px solid #dadada;margin:1.5em 0;padding:.75em}
fieldset legend{display:block;font-weight:700;padding:0 1em 0 0}
form{margin:0 0 1.667em;padding:0}
h1{font-size:1.5em}
h1,h2,h3,h4,h5,h6,h1 img,h2 img,h3 img,h4 img,h5 img,h6 img,em,dfn,del,ins,a,tbody,tfoot,thead,tr,li,label,legend,#user-login-form ul,.fieldset-layout-settings .layout-help dt,.fieldset-layout-settings .layout-help dd,.at-inline-menu ul.menu,.at-multicolumn-menu .block-content ul{margin:0;padding:0}
h2{font-size:1.33em}
h3,input.title{font-size:1.25em}
h4{font-size:1.17em}
h5,h6{font-size:1em}
html{font-size:75%}
html.js #user-login-form li.openid-link,html.js #user-login li.openid-link,#user-admin-filter ul li,#article-admin-filter ul li{list-style:none}
html.js fieldset.collapsed{background:transparent;padding-bottom:.75em;padding-top:0}
input{margin:.375em 0}
input.form-text,textarea{border:1px solid #CCC;height:auto;padding:.1875em}
input.text{-wap-input-format:"*M"}
input.text,input.title{padding:.375em}
input.text,input.title,textarea,select{border:1px solid silver;margin:.375em 0}
ins{border-bottom:none;text-decoration:none}
ol{list-style-type:decimal}
ol ol{list-style-type:lower-alpha}
ol ol ol{list-style-type:lower-roman}
p{margin:0 0 1.5em;padding:0}
pre,code,tt,samp,kbd,var{font:1em "Lucida Console",Monaco,"DejaVu Sans Mono",monospace}
span.form-required,span.marker{color:#8A1F11}
strong,dfn,caption,th,div.help code,div.messages code,.admin-dependencies,.admin-required,.admin-enabled,.admin-disabled,.admin-missing,dt,ul.pager li.pager-current,.fieldset-advanced-theme-settings .description em{font-weight:700}
table{border-spacing:0;border-color:silver;margin:1em 0;padding:0}
table tr.warning{background-color:#F7E8C5}
table tr.warning td{color:#9F3800}
table tr.warning.merge-up td{color:#514721}
table,td,th{vertical-align:middle}
td,th{border-bottom:1px solid #CCC;margin:0;padding:.375em .5em}
td.region,td.module,td.container td.category{background-color:#EEE;border-bottom:1px solid #CCC;border-top:1.5em solid #FFF;color:#222;font-weight:700}
textarea,input{font:1em normal Arial, Helvetica, sans-serif}
textarea:focus{border:1px solid #FC0;background:#FFF}
thead th{border-bottom:.1875em solid silver;color:#494949;font-weight:700}
tr .block{border:0}
tr.drag{background-color:#FFFFF0}
tr.drag-previous{background-color:#FFD}
tr.error{background:#FFEFF3;color:#E41F0B}
tr.even{background-color:#FFF}
tr.even td.active{background-color:#F7F7F7}
tr.odd td.active{background-color:#EEE}
tr.odd,tr.info{background-color:#F5F5F5}
tr:first-child td.region,tr:first-child td.module,tr:first-child td.container{border-top-width:0}
ul{list-style-type:disc}
ul ul ul{list-style-type:square}
ul ul,ul ol,ol ol,ol ul,.block ul ul,.block ul ol,.block ol ol,.block ol ul,.item-list ul ul,.item-list ul ol,.item-list ol ol,.item-list ol ul{margin:0 0 0 1.667em}
ul ul,ul ul ul ul{list-style-type:circle}
ul,ol{margin:0 0 1.5em 1.667em;padding:0}
ul.pager{clear:both;text-align:center}
ul.pager li{background-image:none;display:inline;list-style-type:none;padding:.5em}
ul.primary{border-bottom-color:#CCC;margin:1.5em 0 0;padding:0 0 .2em .3em}
ul.primary li a{background-color:#F5F5F5;margin-right:.08em;border-color:#CCC;padding:.1em .75em .2em}
ul.secondary{border-bottom:1px solid #CCC;margin:1em 0 0;padding:0 .3em 1em}
ul.secondary li{border-right:0;list-style:none;padding:0 2em 0 0}
ul.secondary li a:hover,ul.secondary li a.active{border-bottom:none;text-decoration:underline}
