/**
 * adaptivethemes.com
 *
 * @file mobile.css
 * theme.css is the file to use when building your theme. 
 * Make a copy first as a backup.
 */

/**
 * Default styles for getting started.
 */
body {
font-family:Verdana, Geneva, "DejaVu Sans", sans-serif;
margin:0;
padding:0;
}

body.admin-menu {
margin-top:0;
}

/* Global focus style for links. */
a:active,a:focus {
border:0;
color:#C00000;
}

.logo-site-name span {
display:block;
}

#site-name {
font-size:1.5em;
font-weight:700;
line-height:1.5;
}

.vocab-name {
font-size:1em;
font-weight:700;
}

/* Comments. */
.indented {
margin-left:2em;
}

.comment-title .new {
color:#FF8000;
}

/* Generic classes. */
.submitted {
margin:.375em 0 0.75em;
}

.submitted em {
font-style:normal;
}

/* Blocks. */
.block {
margin:0 0 10px;
}

.block ul li {
margin:0 0 0 0.5em;
}

.block .item-list ul  {
margin-left:1em;
}

#block-locale-0 ul {
margin:0 0 0 1.5em;
padding:0;
}

#block-locale-0 ul li {
padding:.35em 0 0;
}

#block-node-0 .feed-icon img {
padding:10px 0;
}

#branding h1,#block-user-3 .item-list h3 {
font-size:1em;
}

.article,.comment {
margin:0 0 1em;
}

.article-title a:link,.article-title a:visited,.article-title a:active,.comment-title a:link,.comment-title a:visited,.comment-title a:active {
text-decoration:none;
}

.article-title a:hover,.article-title a:focus,.comment-title a:hover,.comment-title a:focus {
text-decoration:underline;
}

.article ul.links,.item-list ul.pager li {
margin:0;
}

/**********************************************************
 *                    HTML & Body
 **********************************************************/
html {}
body {}

/* Admin menu */
body.admin-menu {}
body.admin-menu #container {}

/**********************************************************
 *                 HTML Elements
 **********************************************************/
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p {}

strong {}
em, dfn {}
dfn {}

sup, sub {}

del {}
ins {}

blockquote {}
cite {}
q {}

address {}

ul {}
ol {}
li {}

dl {}
dd {}
dt {}


abbr {}
acronym {}

pre, code, tt {}
p code {}
samp {}
kbd {}
var {}


/**********************************************************
 *                 Global Link Styles
 **********************************************************/
a {}
a:link,
a:visited {}
a:hover,
a:active,
a.active  {}

/* Set global a:active and a:focus styles. */
a:active,
a:focus {}


/**********************************************************
 *                    Body Classes
 **********************************************************/
 /* NOTE: these are not active by default; you need to 
    enable them in the Advanced theme settings. */

/* Front or not front. */
.front {}
.not-front {}

/* Is the user logged in. */
.logged-in {}
.not-logged-in {}

/* Content type body classes. */
.article-type-book  {}
.article-type-blog  {}
.article-type-forum {}
.article-type-page  {}
.article-type-poll  {}
.article-type-story {}

	
/**********************************************************
 *                  The wrapper divs
 *    Be careful how you modify these, see layout.css
 **********************************************************/
#container {
width: 100%;
}

/* Column wrappers */
#columns {}
.columns-inner {}

/* Content wrappers */
#content-column {}
.content-inner {}

/* Main content wrappers*/
#main-content {}
#content {}


/**********************************************************
 *                 Regions, Sidebars
 **********************************************************/

#header-region {}

/* Target both sidebars with this low specifity selector. */
.sidebar {}

/* Target a specific sidebar. */
#sidebar-first {}
#sidebar-last {}

/* Footer */
#footer {}
#footer-region {}


/**********************************************************
 *                   Footer message
 **********************************************************/
#footer-message {}
#footer-message a {}


/**********************************************************
 *                   Skip navigation
 **********************************************************/
/**
 * DO NOT USE display:none as this hides it from screen readers!
 */
#skip-nav {}
#skip-nav ul {}
#skip-nav ul li {}

/* Override default pseudo class styles */
#skip-nav a:link,
#skip-nav a:visited {}
#skip-nav a:hover,
#skip-nav a:focus,
#skip-nav a:active {}


/**********************************************************
 *                 Header Elements
 **********************************************************/
/* #header wraps #branding, #search-box-top and #header-blocks. */
#header {}

/* #branding wraps #logo, #site-name and #site-slogan. */
#branding {}

/* h1 is for the front page only, all others use the div. */
#branding h1 {}

/* Logo and site_name wrappers. */
.logo-site-name {}
div.logo-site-name {}
h1.logo-site-name  {}

/* DIV/strong combo when when title is set. */
div.logo-site-name strong {}

/* Over-ride display:block if you want the site name inline with the logo. */
.logo-site-name span {}

/* Logo and Site name. */
#logo {}
#site-name {}

/* Override default pseudo class styles. */
#site-name a:link,
#site-name a:visited {}
#site-name a:hover,
#site-name a:focus,
#site-name a:active {}

/* Site slogan. */
#site-slogan {}


/**********************************************************
 *    Search box, Advanced search form, Search results
 *          For the search block see blocks.css
 **********************************************************/
/**
 * Search box
 */
/* Float the serch box right. */
#search-box {}

/* Reset form element margins. */
#search-theme-form {}

/* Use the child selector because the inner div has no class. */
#search-theme-form > div {}

/* #search and .container-inline apply to the same div. */
#search-theme-form #search {}
#search-theme-form .container-inline {}

#search-theme-form label {}

#search-theme-form input {}
#search-theme-form .search-input {}
#search-theme-form .search_submit {}

/**
 * Advanced search form
 */
/* Advanced search-form id. */
#search-form {}

/* Use the child selector because the inner div has no class. */
#search-form > div {}
#search-form .container-inline {}
#search-form #edit-keys-wrapper {}

#search-form label {}
#search-form input {}
#search-form .form-item {}
#search-form .form-submit {}

/* Textfield styles. */
#search-form #edit-keys-wrapper input {}
#search-form #edit-keys-wrapper input:hover,
#search-form #edit-keys-wrapper input:focus {}

/* Advanced search fieldset. */
fieldset #search-advanced {}

/**
 * Search results
 */
/* Box styles for the results page. */
.section-search .box {}
.section-search .box-inner {}
.section-search .box-title {}

/* Style the no results messages. */
.section-search .box ul {}
.section-search .box ul li {}

/* Search results document list. */
dl.search-results {}
dl.search-results dt {}
dl.search-results dd {}
dl.search-results dd p {}
dl.search-results dd .search-snippet {}
dl.search-results dd .search-info {}

span.search-info-type {}
span.search-info-user {}
span.search-info-date {}
span.search-info-comment {}
span.search-info-upload  {}


/**********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/* Primary-links div wrapper */
#primary {}

/* Class on the ul */
.primary-links {}

/* Modify the margin to set tab spacings. */
.primary-links li {}
.primary-links li a {}

/* Set pseudo class styles. */
.primary-links li a:link {}
.primary-links li a:visited {}
.primary-links li a:hover {}
.primary-links li a:focus {}
.primary-links li a:active {}

/* Primary first and last classes. */
.primary-links li.first {}
.primary-links li.last {}

/* Active trail classes. */
.primary-links li.active {}
.primary-links li.active-trail {}
.primary-links li.active-trail a {}

/* Secondary-links div wrapper */
#secondary {}

/* Class on the ul */
.secondary-links {}

/* Modify the margin to set tab spacings. */
.secondary-links li {}
.secondary-links li a {}

/* Set pseudo class styles. */
.secondary-links li a:link {}
.secondary-links li a:visited {}
.secondary-links li a:hover {}
.secondary-links li a:focus {}
.secondary-links li a:active {}

/* Secondary first and last classes. */
.secondary-links li.first {}
.secondary-links li.last {}

/* Active trail classes. */
.secondary-links li.active {}
.secondary-links li.active-trail {}
.secondary-links li.active-trail a {}


/**********************************************************
 *                      Breadcrumb
 **********************************************************/
#breadcrumb {}
#breadcrumb a {}
#breadcrumb a:link {}
#breadcrumb a:visited {}
#breadcrumb a:hover {}
#breadcrumb a:focus {}
#breadcrumb a:active {}


/**********************************************************
 *                       Mission
 **********************************************************/
#mission {}


/**********************************************************
 *                    H1 Page Title
 **********************************************************/
h1#page-title {}


/**********************************************************
 *                     Pager 
 **********************************************************/
/* The first 2 classes provide the base pager styles. */
ul.pager    {}
ul.pager li {}

/* Theme the various states of pager links. */
ul.pager li a:link    {}
ul.pager li a:visited {}
ul.pager li a:hover   {}

/* Note: .pager-current is for the current page. */
ul.pager li.pager-item     {}
ul.pager li.first          {}
ul.pager li.last           {}
ul.pager li.pager-current  {}
ul.pager li.pager-first    {}
ul.pager li.pager-previous {}
ul.pager li.pager-next     {}
ul.pager li.pager-last     {}

/**********************************************************
 *                 RSS Feed Icon
 **********************************************************/
#feed-icons {}
#feed-icons .feed-icon {}
#feed-icons .feed-icon img {}
#feed-icons a.feed-icon {}


/**********************************************************
 *                  Generic Content Classes
 **********************************************************/
.title {}
.submitted {}
.submitted em {}
.submitted a {}
.content {}
ul.links {}
ul.links li {}
ul.links li a {}


/**********************************************************
 *                      Articles (nodes)
 **********************************************************/
.article {}

/* Teaser title (H2). */
.article-title {}

.article-title a:link,
.article-title a:visited {}
.article-title a:hover,
.article-title a:focus,
.article-title a:active {}

/* User Picture. */
.article .user-picture {}
.article .user-picture img {}

/* Submitted */
.article .submitted {}
.article .submitted em {}
.article .submitted a {}
.article .submitted a:hover {}
.article .submitted .author {}
.article .submitted .time {}

/* Common links classes. */
.article ul.links {}
.article ul.links li {}
.article ul.links li a {}

/* Taxonomy terms. */
/* Term list */
ul.taxonomy {}
ul.taxonomy li {}
ul.taxonomy li a {}
/* With vocab headers */
ul.taxonomy li.vocab {}
.vocab-name {}
ul.vocab-list {}
ul.vocab-list li {}
ul.vocab-list li a {}

/* Style module links. */
ul.links li.node_read_more a {}
ul.links li.comment_add a {}
ul.links li.comment_comments a {}
ul.links li.comment_new_comments a {}
ul.links li.blog_usernames_blog a {}
ul.links li.print_html a {}
ul.links li.print_email a {}
ul.links li.print_pdf a {}

/* UL link first and last classes. */
.article ul.links li.first {}
.article ul.links li.last  {}

/* Workflow states. */
.article-add    {}
.article-edit   {}
.article-delete {}
.article-preview  {}
.article-sticky   {}
.article-promoted {}

/* Status. */
.article-unpublished {}

/* Theme the teaser seperatly. */
.article-teaser {}


/**********************************************************
 *                     Content types
 *              Style article types by type.
 **********************************************************/
.book-article  {}
.blog-article  {}
.forum-article {}
.page-article  {}
.poll-article  {}
.story-article {}

/* Custom node types/
/** 
 * Replace CONTENT_TYPE with the content type 
 * machine-readable name. 
 */
.CONTENT_TYPE-article {}


/**********************************************************
 *                    CCK Fields
 **********************************************************/
/* Wrapper for any CCK field. */
.field {}

/* Use "datetime" when creating new CCK date fields. */
.field-type-datetime {}

/* Filefield field. */
.field-type-filefield {}

/* Node reference field. */
.field-type-nodereference {}

/* User reference field. */
.field-type-userreference {}

/* Number fields. */
.field-type-number-decimal {}
.field-type-number-float   {}
.field-type-number-integer {}

/* Text field. */
.field-type-text {}

/**
 * Specific field names.
 */
/* Underscores in field name are replaced with dashes. */
.field-field-FIELDNAME {}


/**********************************************************
 *                     Comments
 **********************************************************/
/* Comment wrapper: wraps all comments and the comment form. */
#comments {}
#comments-title {}

/* Wrapper class for each individual comment. */
.comment {}

/* Indentation */
.comment .indented {}

/* Comment Title (H3) */
.comment-title {}
.comment-title a:link,
.comment-title a:visited {}
.comment-title a:hover,
.comment-title a:focus,
.comment-title a:active {}

/* Comment id (count with pound sign, see line 28 comment.tpl.php) 
   and comment "new" notification. */
.comment-id {}
.comment-title .new {}


/* User Picture */
.comment .user-picture {}
.comment .user-picture img {}

/* Submitted */
.comment .submitted {}
.comment .submitted em {}
.comment .submitted a {}
.comment .submitted a:hover {}
.comment .submitted .author {}
.comment .submitted .time {}

/* Links */
.comment ul.links {}
.comment ul.links li {}
.comment ul.links li a {}

/* Core comment link classes. */
ul.links li.comment_reply a {}
ul.links li.comment_edit a {}
ul.links li.comment_delete a {}

/* UL link first and last classes. */
.comment ul.links li.first {}
.comment ul.links li.last  {}

/* Author */
.comment-by-anonymous   {}
.comment-by-article-author {}
.comment-by-viewer      {}

/* New */
.comment-new {}

/* Zebra */
.comment.odd  {}
.comment.even {}

/* Status */
.comment-unpublished {}

/* Themes the "Unpublished" text. */
.comment-unpublished .unpublished {}

/* Comment box wrapper on a seperate page. */
.section-comment .box {}
.section-comment .box .box-title {}

/* Comment box wrapper below content. */
#comments .box {}
#comments .box .box-title {}

/* Sytle comments by article type. */
.book-comments  {}
.blog-comments  {}
.forum-comments {}
.page-comments  {}
.poll-comments  {}
.story-comments {}


/**********************************************************
 *                       Blocks
 **********************************************************/
/**
 * Styles set for .block, .block-inner, block-title and 
 * .block-content will be inherited by all blocks.
 */
.block {}
.block-inner   {} /* Block inner div */
.block-title   {} /* h2 block title */


/**********************************************************
 *                   Sidebar blocks
 **********************************************************/
/**
 * You can target blocks in one or more regions and 
 * style them differently. 
 */
 
/* Low specifity selector to style blocks in all regions. */
.aside .block {}
.aside .block h2 {}
.aside .block-inner {}

/* Low specifity selector to style blocks in both sidebars. */
.sidebar .block {}
.sidebar .block h2 {}
.sidebar .block-inner {}

/* High specifity selectors to style blocks in one sidebar - careful, these are powerful selectors! */
#sidebar-first .block {}
#sidebar-first .block h2 {}
#sidebar-first .block-inner {}

#sidebar-last .block {}
#sidebar-last .block h2 {}
#sidebar-last .block-inner {}


/**********************************************************
 *                  Region blocks
 **********************************************************/
/* High specifity selectors to style blocks in one region. */
#page-top          .block {}
#header-region     .block {}
#secondary-content .block {}
#tertiary-content  .block {}
#content-top       .block {}
#content           .block {}
#content-bottom    .block {}
#footer-region     .block {}


/**********************************************************
 *                   Module blocks
 **********************************************************/
/**
 * Module Block ID's 
 * For contributed module blocks the pattern is the same,
 * i.e. #block-[module]-[delta]
 */
#block-book-0       {} /* Book navigation block   */
#block-blog-0       {} /* Recent Blog posts       */
#block-comment-0    {} /* Recent Comments block   */
#block-forum-0      {} /* Active Forum topics     */
#block-forum-1      {} /* New Forum topics        */
#block-locale-0     {} /* Language Switcher block */
#block-node-0       {} /* Syndicate block         */
#block-poll-0       {} /* Most recent poll        */
#block-profile-0    {} /* Author information      */
#block-search-0     {} /* Search form block       */
#block-statistics-0 {} /* Popular content         */
#block-system-0     {} /* Powered by Drupal       */
#block-user-0       {} /* Login block             */
#block-user-1       {} /* Navigation Menu block   */
#block-user-2       {} /* Who's New block         */
#block-user-3       {} /* Who's Online block      */

/* Primary and Secondary links blocks */
#block-menu-primary-links   {}
#block-menu-secondary-links {}

/* The class selector applies to all blocks of these types. */
.block-user {} 
.block-book {} 
.block-aggregator {}


/**********************************************************
 *                 Search block form
 **********************************************************/
#search-block-form {}

/* Wrapper divs. */
#search-block-form > div {}
#search-block-form .container-inline{}

#search-block-form label {}
#search-block-form input {}
#search-block-form .form-item {}
#search-block-form .form-submit {}
#search-block-form #edit-search-block-form-1 {}

/* Override forms.css focus style */
#edit-search-block-form-1:hover,
#edit-search-block-form-1:focus {}


/**********************************************************
 *                   Menu blocks
 **********************************************************/
/**
 * Prefix these with the block id to style one menu only.
 */
ul.menu,
ul.menu ul, 
ul.menu ul ul, 
ul.menu ul ul ul {}

/* Menu li styles */
ul.menu li {}

ul.menu li.collapsed {}
ul.menu li.expanded  {}
ul.menu li.leaf      {}

ul.menu li a:link,
ul.menu li a:visited {}
ul.menu li a:hover,
ul.menu li a:focus,
ul.menu li a:active   {}
ul.menu li.active a  {}
ul.menu li.active-trail a {}

ul.menu li.first {}
ul.menu li.last  {}


/**********************************************************
 *                   Block item-list
 **********************************************************/
.block .item-list ul {}
.block .item-list ul li {}


/**********************************************************
 *             Admin, Messages and Help
 **********************************************************/
.admin-menu #messages-and-help {
padding-top:1px;
}
